{% extends "layout.html" %} {% block content %}
<div class="content-sectin">
    <form method="POST" action="">
        {{ form.hidden_tag() }}
        <fieldset class="form-group">
            <legend class="border-bottom mb-4">
                {{ legend }}
            </legend>
            <div class="form-group">
                {{ form.title.label(class="form-control-label")}}
                <!-- sss -->
                {% if form.title.errors %}
                <!-- ssss  -->
                {{ form.title(class="form-control-lg is-invalid")}}
                <div class="invalid-feedback">
                    {% for error in form.title.errors %}
                    <span>{{ error }}</span>
                    <!-- sss  -->
                    {% endfor %}
                </div>
                {% else %}
                <!-- sss  -->
                {{ form.title(class="form-control-lg")}}
                <!-- sss  -->
                {% endif %}
            </div>
            <div class="form-group">
                {{ form.content.label(class="form-control-label")}}
                <!-- ssss -->
                {% if form.content.errors %}
                <!-- sss  -->
                {{ form.content(class="form-control form-control-lg is-invalid")}}
                <div class="invalid-feedback">
                    {% for error in form.content.errors %}
                    <span>{{ error }}</span>
                    <!-- ss  -->
                    {% endfor %}
                </div>
                {% else %}
                <!-- sss  -->
                {{ form.content(class="form-control-lg")}}
                <!-- sss  -->
                {% endif %}
            </div>
        </fieldset>
        <div class="form-group">
            {{ form.submit(class="btn btn-outline-info")}}
        </div>
    </form>
</div>
{% endblock content %}